In [36]:
from EXAM.model import student_courses_model,enrol_students_model,\
teacher_created_courses_model,user_student
from EXAM.configaration import User_type, user_obj

In [38]:
    user_total = list()
    students_name = list()
    usered = user_obj.e
    students = student_courses_model.objects()
    students

In [47]:
for student in students:
    print(student.student_registered_id)
    for enrolled in enrol_students_model.objects(enrolled_students_id=student.student_registered_id):
    #print(enrolled.course_code)
      for teacher in teacher_created_courses_model.objects(teacher_registered_id="bashar@example.com"):
    #print(teacher.course_code)
       if teacher.course_code ==enrolled.course_code and \
        student.course_code==enrolled.course_code:
           #print(student.student_registered_id) 
           if student.student_registered_id not in user_total:
                user_total.append(student.student_registered_id)
           #print("matched")
print(user_total)
for user in user_total:
    for user_s in user_student.objects(email=user):
        print(user_s.user_name)
        if user_s.user_name not in students_name:
            students_name.append(user_s.user_name)
print(students_name)

ayshakhatun@example.com
['ayshakhatun@example.com']
Aysha
['ayshakhatun@example.com', 'Aysha', 'Aysha']

In [42]:
for enrolled in enrol_students_model.objects(enrolled_students_id=student.student_registered_id):
    #print(enrolled.course_code)
    for teacher in teacher_created_courses_model.objects(teacher_registered_id="bashar@example.com"):
    #print(teacher.course_code)
       if teacher.course_code ==enrolled.course_code and \
        student.course_code==enrolled.course_code:
           #print(student.student_registered_id) 
           if student.student_registered_id not in user_total:
                user_total.append(student.student_registered_id)
           #print("matched")
print(user_total)

['ayshakhatun@example.com']

In [44]:
for user in user_total:
    for user_s in user_student.objects(email=user):
        print(user_s.user_name)
        students_name.append(user_s.user_name)
print(students_name)

Aysha
['ayshakhatun@example.com', 'Aysha']