In [83]:
import pandas as pd
import random
import pymongo 
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from pymongo import MongoClient
connection= MongoClient('localhost',27017)
mongosql=connection.exam
from EXAM.model import machine_learning_mcq_model

In [25]:
needed_course_code = ['SWE111','swe551']
ML_model = mongosql.machine_learning_mcq_model
mcq = ML_model.find({"course_code": "swe151"})
# ML_model=machine_learning_mcq_model.objects()
mcq_df = pd.DataFrame(list(mcq))
#mcq_df

In [28]:
mcq_df.to_csv("demo.csv",index=False)
mcq_csv=pd.read_csv('demo.csv')
#mcq_csv.head(2)
#mcq_csv.is_null()
#mcq_csv.shape()
mcq_csv.drop("_id",axis=1,inplace=True)
mcq_csv.drop("question_dictionary",axis=1,inplace=True)

In [29]:
mcq_csv.dropna(inplace=True)# for removing the nulls in the Datasets
mcq_csv.head(5)

     course_title course_code difficulty type  question_point
0  Data Algorithm      swe151     Medium  mcq       24.872817
1  Data Algorithm      swe151     Medium  mcq       18.862837
2  Data Algorithm      swe151     Medium  mcq       27.166225
3  Data Algorithm      swe151       Hard  mcq       15.883794
4  Data Algorithm      swe151     Medium  mcq       26.342523

In [194]:
type=pd.get_dummies(mcq_csv['type'],drop_first=True)

KeyError: 'type'

In [195]:
mcq_csv.drop("course_title",  axis=1,inplace=True)

KeyError: "['course_title'] not found in axis"

In [47]:
mcq_csv.drop("course_code",  axis=1,inplace=True)
mcq_csv.drop("type",axis=1,inplace=True)

KeyError: "['course_code'] not found in axis"

In [200]:
mcq_csv=pd.concat([mcq_csv,type],axis=1)
mcq_csv

     difficulty  question_point  wrq  wrq  wrq  wrq  wrq  wrq
0        Medium       24.872817    0    0    0    0    0    0
1        Medium       18.862837    0    0    0    0    0    0
2        Medium       27.166225    0    0    0    0    0    0
3          Hard       15.883794    0    0    0    0    0    0
4        Medium       26.342523    0    0    0    0    0    0
...         ...             ...  ...  ...  ...  ...  ...  ...
3627     Medium       27.516590    1    1    1    1    1    1
3628     Medium       26.447299    1    1    1    1    1    1
3629     Medium       33.459866    1    1    1    1    1    1
3630     Medium       29.603386    1    1    1    1    1    1
3631     Medium       26.290495    1    1    1    1    1    1

[3632 rows x 8 columns]

In [64]:
mcq_csv.drop("wrq",  axis=1,inplace=True)
mcq_csv

     difficulty  question_point
0        Medium       24.872817
1        Medium       18.862837
2        Medium       27.166225
3          Hard       15.883794
4        Medium       26.342523
...         ...             ...
3627     Medium       27.516590
3628     Medium       26.447299
3629     Medium       33.459866
3630     Medium       29.603386
3631     Medium       26.290495

[3632 rows x 2 columns]

In [216]:
mcq_cleaned_csv=pd.concat([mcq_csv,type],axis=1)
mcq_cleaned_csv

     difficulty  question_point  wrq  wrq  wrq  wrq  wrq  wrq  wrq
0        Medium       24.872817    0    0    0    0    0    0    0
1        Medium       18.862837    0    0    0    0    0    0    0
2        Medium       27.166225    0    0    0    0    0    0    0
3          Hard       15.883794    0    0    0    0    0    0    0
4        Medium       26.342523    0    0    0    0    0    0    0
...         ...             ...  ...  ...  ...  ...  ...  ...  ...
3627     Medium       27.516590    1    1    1    1    1    1    1
3628     Medium       26.447299    1    1    1    1    1    1    1
3629     Medium       33.459866    1    1    1    1    1    1    1
3630     Medium       29.603386    1    1    1    1    1    1    1
3631     Medium       26.290495    1    1    1    1    1    1    1

[3632 rows x 9 columns]

In [242]:
data_input=mcq_cleaned_csv.drop(columns=['difficulty'])
data_input

      question_point  wrq  wrq  wrq  wrq  wrq  wrq  wrq
0          24.872817    0    0    0    0    0    0    0
1          18.862837    0    0    0    0    0    0    0
2          27.166225    0    0    0    0    0    0    0
3          15.883794    0    0    0    0    0    0    0
4          26.342523    0    0    0    0    0    0    0
...              ...  ...  ...  ...  ...  ...  ...  ...
3627       27.516590    1    1    1    1    1    1    1
3628       26.447299    1    1    1    1    1    1    1
3629       33.459866    1    1    1    1    1    1    1
3630       29.603386    1    1    1    1    1    1    1
3631       26.290495    1    1    1    1    1    1    1

[3632 rows x 8 columns]

In [192]:
data_output=mcq_cleaned_csv['difficulty']
data_output

0       Medium
1       Medium
2       Medium
3         Hard
4       Medium
         ...
3627    Medium
3628    Medium
3629    Medium
3630    Medium
3631    Medium
Name: difficulty, Length: 3632, dtype: object

In [177]:
ml_model=DecisionTreeClassifier()
ml_model.fit(data_input,data_output)
predictions=ml_model.predict([[25, 0],[15, 1]])
predictions

array(['Medium', 'Hard'], dtype=object)

# accuracy testing

In [190]:
X_train,X_test,y_train,y_test=train_test_split(data_input,data_output,test_size=0.2)
ml_model_for_test=DecisionTreeClassifier()
ml_model_for_test.fit(X_train,y_train)
predictions=ml_model.predict(X_test)
score= accuracy_score(y_test,predictions)
score

1.0