In [16]:
import pandas as pd
import random
import pymongo 
from pymongo import MongoClient
connection= MongoClient('localhost',27017)
mongosql=connection.exam
from EXAM.model import machine_learning_mcq_model

In [5]:
needed_course_code = ['SWE111','swe551']

In [25]:
mcq_data=mongosql.machine_learning_mcq_model
question=mcq_data.find()
mcq=pd.DataFrame(list(question))
mcq.to_csv("demo.csv",index=False)

In [33]:
mcq_csv=pd.read_csv('demo.csv')
mcq_csv.head(2)
#mcq_csv.is_null()

,_id,question_dictionary,course_title,course_code,difficulty,type,question_point
0,60690ef981980b97a76a84bf,{'dummy question': 'dummy'},Data Algorithm,swe151,Medium,mcq,24.872817
1,60690ef981980b97a76a84c0,{'dummy question': 'dummy'},Data Algorithm,swe151,Medium,mcq,18.862837

In [35]:
mcq_csv.shape()

TypeError: 'tuple' object is not callable