In [1]:
import pandas as pd
import pymongo 
from pymongo import MongoClient
connection= MongoClient('localhost',27017)
mongosql=connection.exam

In [35]:
needed_course_code = ['SWE111','swe551']

In [56]:
mcq_data=mongosql.machine_learning_mcq_model
mcq=mcq_data.find()
df =pd.DataFrame(list(mcq))
df.to_csv("demo.csv",index=False)

In [32]:
df=pd.concat()

TypeError: concat() missing 1 required positional argument: 'objs'

In [58]:
df.drop(['_id','mcq'],axis=1,inplace=True)

In [59]:
df

         course_title course_code           lesson quesCLO complexity_label
0  Thesis and project      swe551  l-3 application      34                2
1                 Ict      SWE111  l-3 application      10                1
2                 Ict      SWE111  l-3 application      10                1
3      Data Algorithm         NaN        l-1 intro       1                1