In [4]:
import pandas as pd
import random
import pymongo 
from pymongo import MongoClient
connection= MongoClient('localhost',27017)
mongosql=connection.exam
from EXAM.model import machine_learning_mcq_model

In [8]:
needed_course_code = ['SWE111','swe551']
ML_model = mongosql.machine_learning_mcq_model
mcq = ML_model.find()
# ML_model=machine_learning_mcq_model.objects()
mcq_df = pd.DataFrame(list(mcq))
#mcq_df

In [13]:
mcq_df.to_csv("demo.csv",index=False)
mcq_csv=pd.read_csv('demo.csv')
#mcq_csv.head(2)
#mcq_csv.is_null()
#mcq_csv.shape()
mcq_csv.drop("_id",axis=1,inplace=True)

In [15]:
mcq_csv.dropna(inplace=True)# for removing the nulls in the Datasets
mcq_csv.head(5)

,question_dictionary,course_title,course_code,difficulty,type,question_point
0,{'dummy question': 'dummy'},Data Algorithm,swe151,Medium,mcq,24.872817
1,{'dummy question': 'dummy'},Data Algorithm,swe151,Medium,mcq,18.862837
2,{'dummy question': 'dummy'},Data Algorithm,swe151,Medium,mcq,27.166225
3,{'dummy question': 'dummy'},Data Algorithm,swe151,Hard,mcq,15.883794
4,{'dummy question': 'dummy'},Data Algorithm,swe151,Medium,mcq,26.342523